<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Movie Form</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h1>Movie Form</h1>
    <form action="#" th:action="@{/app/save}" th:object="${movie}" method="POST">
        <input type="hidden" th:field="*{id}" class="form-control mb-4 col-4">
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" th:field="*{name}" id="name" placeholder="Title of the Movie" class="form-control mb-4 col-4">
            <p class="alert alert-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">
        </div>
        <div class="form-group">
            <label for="description">Description:</label>
            <input type="text" th:field="*{description}" id="description" placeholder="Description" class="form-control mb-4 col-4">
            <p class="alert alert-danger" th:if="${#fields.hasErrors('description')}" th:errors="*{description}">
        </div>

        <div class="form-group">
            <label for="category">Category:</label>
            <input type="text" th:field="*{category}" id="category" placeholder="Category" class="form-control mb-4 col-4">
            <p class="alert alert-danger" th:if="${#fields.hasErrors('category')}" th:errors="*{category}">
        </div>
        <button type="submit" class="btn btn-info col-2">Submit</button>
    </form>
    <hr>
    <a th:href="@{/app/movieList}">Back to Movie List</a>
</div>
</body>
</html>